---
import Link from '@components/Link/Link.astro'

const { text, href, rel, icon, iconSize, target, title, className } =
	Astro.props
---

<li class="flex list-none items-center justify-center">
	<Link
		href={href}
		target={target}
		rel={rel}
		icon={icon}
		iconSize={iconSize}
		title={title}
		text={text}
		class={className}
	/>
</li>
