---
import NavLink from '../Link/NavLink.astro'

const {
	text,
	href,
	rel,
	icon,
	target,
	title,
	class: className,
	...props
} = Astro.props
---

<li
	class:list={['flex list-none items-center justify-center', className]}
	{...props}>
	<NavLink
		href={href}
		target={target}
		rel={rel}
		icon={icon}
		title={title}
		text={text}
	/>
</li>
