---
import Link from '@components/Link/Link.astro'

const { current, startUrl, prevUrl, nextUrl, currentUrl, lastUrl } = Astro.props
---

<div
	class="my-3 flex items-center justify-center gap-3 text-slate-700"
	aria-label="Pagination">
	{
		startUrl ? (
			<Link href="/blog" icon="ic:round-skip-previous" title="First Page">
				<span class="sr-only">First Page</span>
			</Link>
		) : null
	}
	{
		prevUrl ? (
			<Link
				href={prevUrl}
				icon="ic:round-navigate-before"
				title="Previous Page">
				<span class="sr-only">Previous Page</span>
			</Link>
		) : null
	}
	{
		currentUrl ? (
			<span class="font-bold" aria-current="page">
				{current} of {lastUrl}
			</span>
		) : null
	}
	{
		nextUrl ? (
			<Link href={nextUrl} icon="ic:round-navigate-next" title="Next Page">
				<span class="sr-only">Next Page</span>
			</Link>
		) : null
	}
	{
		current === lastUrl ? (
			''
		) : lastUrl ? (
			<Link
				href={`/blog/${lastUrl}`}
				icon="ic:round-skip-next"
				title="Last Page">
				<span class="sr-only">Last Page</span>
			</Link>
		) : null
	}
</div>
