---
import Link from '@components/Link/Link.astro'

const { current, startUrl, prevUrl, nextUrl, currentUrl, lastUrl } = Astro.props

// Determine base URL from the current URL
const baseUrl = currentUrl?.includes('/links') ? '/links' : '/blog'
---

<div
	class="my-3 flex items-center justify-center gap-3 text-slate-700"
	aria-label="Pagination">
	{
		startUrl ? (
			<Link
				href={startUrl}
				icon="ic:round-skip-previous"
				title="First Page"
				text="First"
			/>
		) : null
	}
	{
		prevUrl ? (
			<Link
				href={prevUrl}
				icon="ic:round-navigate-before"
				title="Previous Page"
				text="Previous"
			/>
		) : null
	}
	{
		currentUrl ? (
			<span class="font-bold" aria-current="page">
				{current} of {lastUrl}
			</span>
		) : null
	}
	{
		nextUrl ? (
			<Link
				href={nextUrl}
				icon="ic:round-navigate-next"
				title="Next Page"
				text="Next"
			/>
		) : null
	}
	{
		current !== lastUrl && lastUrl ? (
			<Link
				href={`${baseUrl}/${lastUrl}`}
				icon="ic:round-skip-next"
				title="Last Page"
				text="Last"
			/>
		) : null
	}
</div>
